.mySlides {
  display:none;
  height: 700px;
  width: 500px;
}

a:-webkit-any-link {
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    /*cursor: auto;*/
    text-decoration: none;
    padding-top: 0px;
}

body {
  margin: 0px;
}

.top{
  height: 40px;
  width: 200px;
  text-align: center;
  align-items: center;
  /*border: 1px solid grey;*/
}

#spacer {
  flex-grow: 1;
}

#WholeTopPart {
  /*border: 1px solid grey;*/
  display: flex; /*Always need for flex positioning*/
  justify-content: center;
  /*margin-top: 3px;*/
}

#logo {
  font-family: Chalkduster, fantasy;
  color: #FD64FD;
  font-size: 20px;
}

#SignIn {
  /*font-family: Comic Sans MS, Comic Sans, cursive;*/
  font-family: Chalkduster, fantasy;
  font-size: 20px;
}


#SearchSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#SearchBox {
  position: absolute;
  /*margin: auto;*/
  padding: 15px;
  background-color: rgba(255,255,255,0.6);
}

select {
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-family: Times New Roman, serif;

}

#mainheader {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

button {
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #FD64FD;
  font-family: Comic Sans MS, Comic Sans, cursive;
  cursor: pointer;
}
