<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  Title: {{title}}
  <br>
  Start Time: {{startTime}}
  <br>
  Stop Time: {{stopTime}}
  <br>
  Venue Name: {{venueName}}
  <br>
  Venue Address: {{venueAddress}}
  <br>
  Description: {{description}}
  <br>
  Image:
  <br>
  <img src = {{mediumPicURL}}></a>
  <h3> Need a place to eat to eat?</h3>
  <a href="https://www.opentable.com">Reserve and find a restaurant here!</a>
  <h3> Need transportation? </h3>
  <ul>
    <li><a href="https://ridewithvia.com/">Via</a></li>
    <li><a href="https://www.uber.com/">Uber</a></li>
    <li><a href="https://www.lyft.com/">Lyft</a></li>
  </ul>
</body>
  <h1>
